<div style="margin: 3rem 5rem 0 5rem;">

  <h2 style="margin-bottom: 0%;">Pruebas de laboratorio- Nueva prueba</h2>
  <hr color="blue" style="margin: 0%;">

  <div style="margin-top: 1rem;">

    <form class="example-form" style="display:inline" [formGroup]="testForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="example-full-width">
        <mat-label>Nombre de la prueba</mat-label>
        <input matInput placeholder="" type="text" required formControlName="name">

      </mat-form-field>


    <span class="example-fill-remaining-space" style="margin-left:5rem"></span>

      <mat-form-field class="example-full-width">
        <mat-label>Descripción</mat-label>
        <input matInput placeholder="" value="" type="text" required formControlName="description">
      </mat-form-field>

      <span>
        <button mat-raised-button [disabled]="testForm.invalid"
        color="primary" style="margin-left: 55rem;" type="submit"
        (click)="openDialog()">Guardar</button>
        <button mat-raised-button color="warn" style="margin-left: 1rem;" routerLink="/test">Cancelar</button>
      </span>



    </form>




    <span class="example-fill-remaining-space" style="margin-left:1rem"></span>
</div>





</div>

