<div style="margin: 3rem 5rem 0 5rem;">

  <h2 style="margin-bottom: 0%;">Consultas</h2>
  <hr color="blue" style="margin: 0%;">

  <div style="margin-top: 1rem;">

    <div>

      <form style="display:inline" [formGroup]="appointmentDateForm" (ngSubmit)="onSearchAppointmentByDate()">

      <mat-form-field appearance="fill">
        <mat-label>Seleccione una fecha</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <span class="example-fill-remaining-space" style="margin-left:1rem"></span>

      <span>

      <button mat-mini-fab color="primary" type="submit">
          <mat-icon>search</mat-icon></button>
      </span>

      </form>

      <span class="example-fill-remaining-space" style="margin-left:1rem"></span>


      <form class="example-form" style="display:inline" [formGroup]="affiliateIdForm" (ngSubmit)="onSearchAffiliateById()">


        <mat-form-field>
          <mat-label>Seleccione afiliado</mat-label>
          <mat-select formControlName="idAffiliate1">
            <mat-option *ngFor="let affiliate of affiliateCopy" [value]="affiliate.idAffiliate">
              {{affiliate.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <span class="example-fill-remaining-space" style="margin-left:1rem"></span>

        <span>
        <button mat-mini-fab color="primary" type="submit">
            <mat-icon>search</mat-icon></button>
        </span>

      </form>

      <span class="example-fill-remaining-space" style="margin-left:1rem"></span>

      <div style="display:inline">
        <button mat-mini-fab color="primary" type="button" (click)="refreshPage()" >
           <mat-icon>refresh</mat-icon>
        </button>
    </div>



    </div>


  </div>
  <span class="example-fill-remaining-space" style="margin-left:1rem"></span>
<div class="wrapper">

  <table mat-table [dataSource]="affiliatesHome" multiTemplateDataRows class="mat-elevation-z8">

    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element; let i = index" style="text-align: left">
        <a> <mat-icon>expand_more</mat-icon>
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="idAffiliate">
      <th mat-header-cell *matHeaderCellDef> ID Afiliado </th>
      <td mat-cell *matCellDef="let element"> {{element.idAffiliate}} </td>
    </ng-container>

    <ng-container matColumnDef="name" style="width: 232px;">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef> Edad </th>
      <td mat-cell *matCellDef="let element"> {{element.age}} </td>
    </ng-container>

    <ng-container matColumnDef="mail">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.mail}} </td>
    </ng-container>



    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="5">
        <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

          <div class="example-container mat-elevation-z8" style="width: 800px">
            <mat-table #table [dataSource]="appointments" >

              <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef> Id Cita </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="hora">
                <mat-header-cell *matHeaderCellDef> Hora </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.hora}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="idTest">
                <mat-header-cell *matHeaderCellDef> Nombre de prueba </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.idTest.name}} </mat-cell>
              </ng-container>


             <ng-container matColumnDef="expand_second" >
                <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
                <mat-cell *matCellDef="let element">  </mat-cell>
              </ng-container>



          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>

        </div>
      </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
      [class.example-expanded-row]="element.expanded" (click)="toggleRow(element, element.idAffiliate)"
      (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>

</div>

