<div style="margin: 3rem 5rem 0 5rem;">

  <h2 style="margin-bottom: 0%;">Pruebas de laboratorio</h2>
  <hr color="blue" style="margin: 0%;">

  <div style="margin-top: 1rem;">
    <span class="example-fill-remaining-space" style="margin-left: 55rem;"></span>
    <a mat-button routerLink="/test/create-test" style="color: black; text-decoration: none; font-size: 1.1rem;" >
      <mat-icon>add_box</mat-icon> Nueva prueba </a>
  </div>




  <table mat-table [dataSource]="tests" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.idTest}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Descripción </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Option Column -->
    <ng-container matColumnDef="option">
      <th mat-header-cell *matHeaderCellDef style="width: 200px; padding-right: 0; padding-left: 40px;"> Opción </th>
      <td mat-cell *matCellDef="let element">
        <a mat-button [routerLink]="[pathEdith, element.idTest]" style="color:black; text-decoration: none; "  >
        <mat-icon>update</mat-icon></a>
        <a mat-button [routerLink]="[pathDelete, element.idTest]"  style="color:black; text-decoration: none; " >
        <mat-icon>delete</mat-icon></a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>






</div>
