<div style="margin: 3rem 5rem 0 5rem;">

  <h2 style="margin-bottom: 0%;">Citas- Nueva cita</h2>
  <hr color="blue" style="margin: 0%;">

  <div style="margin-top: 1rem;">


  <form class="example-form" style="display:inline" [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="fill">
      <mat-label>Seleccione una fecha</mat-label>
      <input matInput [matDatepicker]="dp" formControlName="date" value="">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp></mat-datepicker>
    </mat-form-field>

    <span class="example-fill-remaining-space" style="margin-left:4rem"></span>


      <mat-form-field class="example-full-width">
        <mat-label>Hora</mat-label>
        <input type="time" matInput value="11:11" formControlName="hora">
        <mat-hint>HH:MM AM/PM</mat-hint>

      </mat-form-field>


    <span class="example-fill-remaining-space" style="margin-left:4rem"></span>



      <mat-form-field>
        <mat-label>Test</mat-label>
        <mat-select formControlName="idTest">
          <mat-option *ngFor="let test of tests" [value]="test.idTest" >
            {{test.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>


    <span class="example-fill-remaining-space" style="margin-left:4rem"></span>



      <mat-form-field>
        <mat-label>Afiliado</mat-label>
        <mat-select formControlName="idAffiliate">
          <mat-option *ngFor="let affiliate of affiliates" [value]="affiliate.idAffiliate">
            {{affiliate.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <span class="example-fill-remaining-space" style="margin-left:4rem"></span>

      <span>
        <button mat-raised-button color="primary" style="margin-left: 55rem;" [disabled]="appointmentForm.invalid"
         type="submit" (click)="openDialog()">Guardar</button>
        <button mat-raised-button color="warn" style="margin-left: 1rem;" routerLink="/appointments">Cancelar</button>
      </span>
    </form>



</div>



</div>
