<div style="margin: 3rem 5rem 0 5rem;">

    <h2 style="margin-bottom: 0%;">Afiliados- Nuevo afiliado</h2>
    <hr color="blue" style="margin: 0%;">

  <div style="margin-top: 1rem;">

            <form class="example-form" style="display:inline" [formGroup]="affiliateForm" (ngSubmit)="onSubmit()">
              <mat-form-field class="example-full-width">
                <mat-label>Nombre completo</mat-label>
                <input matInput placeholder="" required formControlName="name" type="text">
              </mat-form-field>


            <span class="example-fill-remaining-space" style="margin-left:5rem"></span>

              <mat-form-field class="example-full-width">

                <mat-label>Edad en años</mat-label>
                <input matInput placeholder="" value="" required formControlName="age" type="number">
              </mat-form-field>

              <span class="example-fill-remaining-space" style="margin-left:5rem"></span>

              <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput placeholder="" value="" required formControlName="mail" type="email">
              </mat-form-field>

              <span>
                <button class="btn-save" mat-raised-button color="primary" style="margin-left: 55rem;"
                type="submit" [disabled]="affiliateForm.invalid">Guardar</button>

              </span>



            </form>
            <button mat-raised-button color="warn" style="margin-left: 1rem;" routerLink="/affiliates">Cancelar</button>



        <span class="example-fill-remaining-space" style="margin-left:1rem"></span>




  </div>



</div>



